<div class="row">
    <div class="col-md-12">
        <form class="form-group">
            <div class="row">
                <div class="col-md-7">
                    <label for="itemName">Name</label>
                    <input id="itemName" type="text" class="form-control" placeholder="Ingridient Name" #recipeNameRef>
                </div>
                <div class="col-md-5">
                    <label for="itemAmmount">Ammount</label>
                    <input id="itemAmmount" type="number" class="form-control" placeholder="Ingridient Count"
                        #ingridientNameRef>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-2">
                    <button type="button" class="btn btn-success mr-2" (click)="ingridientAdd()">Add</button>
                    <button type="button" class="btn btn-danger mr-2">Delete</button>
                    <button type="button" class="btn btn-primary mr-2">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>